@page
@model MyRead.Web.Pages.Manager.ListAuthorModel
@{
    ViewData["Title"] = "ListAuthor";
}

<h1>ListAuthor</h1>
<table class="table">
    @foreach (var author in @Model.AuthorModels)
    {
        <tr>

            <th>
                @author.FirstName
            </th>
            <th>
                @author.LastName
            </th>
            <th>
                <form method="post" asp-route-id="@author.AuthorID">
                    <button type="submit">Select</button>
                </form>
            </th>
        </tr>
    }
</table>

