@page "{bookId:int}"
@model MyRead.Web.Pages.DeleteModel

<h2>Delete Book</h2>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a class="btn btn-success" asp-page="./List">No</a>
</form>
