@page "{bookId:int}"
@model MyRead.Web.Pages.Manager.Books.UpdateModel
@{
    
}

<h2>Update</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Book.Title"></label>
        <input type="text" asp-for="@Model.Book.Title" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Book.Pages"></label>
        <input type="number" asp-for="@Model.Book.Pages" />
    </div>
    
    <button type="submit" class="alert-primary">Save</button>
</form>